*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(47, 88%, 63%);
}
.card{
    background: white;
    width: 380px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0 black;
}
.card-image{
    width: 100%;
    border-radius: 10px;
}
.tag{
display: inline-block;
background: hsl(47, 88%, 63%);
padding: 8px 12px;
margin-top: 20px;
font-weight: 800;
border-radius: 5px;
}
.date{
    margin-top: 12px;
    font-size: 14px;
}
h2{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
}
h2:hover{
    color: hsl(47, 88%, 63%);
}
.description{
    margin-top: 15px;
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
}
.author{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
.author img{
    width: 35px;
}
.author span{
    font-weight: 800;
}
p{
    margin-top: 15px;
}